.app {
  display: flex;
  height: 100vh;
}

.left-section {
  flex: 1;
  background:linear-gradient(130deg,rgb(0, 126, 124),rgb(0, 255, 251));
  padding: 40px;
  color: white;
}
@media only screen and (max-width: 600px) {
  .left-section {
    display: none;
  }
  .right-section{
    justify-content: center;
    position: relative;
    left: 10px;
  }
}

.right-section {
  flex: 0.7;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}
.log{
  position: absolute;
  bottom:100px;

}
